#================================================
# gitignore
#================================================

/**/build*/
/**/.cproject
/**/.project
/**/.settings/
/**/*.pro.user
/**/*.docx
/**/cmd/

#================================================
