/*===============================================*/
/* Common Style */
/*===============================================*/

/*-----------------------------------------------*/
/* QWidget */
/*-----------------------------------------------*/

QWidget {
    font-family: arial;
    font-size: 14px;
    color: white;
    background: transparent;
    border: none;
}

/*===============================================*/
/* Global Style */
/*===============================================*/

/*-----------------------------------------------*/
/* QFrame */
/*-----------------------------------------------*/

QFrame#m_content {
    border : 1px solid rgba(255,255,255,0.2);
}

/*-----------------------------------------------*/
/* QHeaderView */
/*-----------------------------------------------*/

QHeaderView::section {
    background: rgba(255,255,250,0.1);
    color: white;
    border: none;
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    padding: 5px;
}

/*-----------------------------------------------*/
/* QPushButton */
/*-----------------------------------------------*/

/* QPushButton Rectangle */
QPushButton {
    padding: 6px;
    background: rgba(255,255,255,0.2);
}

QPushButton:hover {
    background: rgba(255,255,255,0.3);
}

QPushButton:pressed {
    background: rgba(255,255,255,0.2);
    font-size: 12px;
}

/* QPushButton Default */
QPushButton:default {
    background: rgba(255,255,255,0.2);
}

QPushButton:default:hover {
    background: rgba(255,255,255,0.3);
}

/* QPushButton Checked */
QPushButton:checked {
    background: rgba(255,255,255,0.2);
}

QPushButton:checked:hover {
    background: rgba(255,255,255,0.3);
}

/* QPushButton Menu */
GMenu QPushButton {
    padding: 6px;
    background: none;
    border: 1px solid rgba(255,255,255,0.2);
}

GMenuQPushButton:hover {
    background: rgba(255,255,255,0.3);
}

GMenu QPushButton:pressed {
    background: rgba(255,255,255,0.2);
    font-size: 14px;
}

/* QPushButton Title */
QPushButton#m_title {
    background: rgba(255,255,255,0.2);
    border: none;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

QPushButton#m_title:hover {
    background: rgba(255,255,255,0.2);
}

QPushButton#m_title:pressed {
    font-size: 16px;
}

/* QPushButton Round */
GBasicTimer QPushButton,
GFloatWidget QPushButton {
    background: rgba(1,1,1,0.3);
    border-radius: 20px;
    width: 40px;
    height: 40px;
    padding: 0;
    margin: 0;
}

GBasicTimer QPushButton:hover,
GFloatWidget QPushButton:hover {
    background: rgba(1,1,1,0.5);
}

GBasicTimer QPushButton:pressed,
GFloatWidget QPushButton:pressed {
    background: rgba(1,1,1,0.3);
}

/*-----------------------------------------------*/
/* QTextEdit */
/*-----------------------------------------------*/

QTextEdit {
    background: rgba(255,255,255,0.2);
    border: 1px solid rgba(255,255,255,0.2);
    padding: 9px;
}

/*-----------------------------------------------*/
/* QTreeView */
/*-----------------------------------------------*/

QTreeView {
    show-decoration-selected: 1;
    alternate-background-color: transparent;
    border: 1px solid rgba(255,255,255,0.2);
}

QTreeView::item {
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

QTreeView::item:hover {
    background: rgba(255,255,255,0.3);
}

QTreeView::item:selected {
    border: 1px solid rgba(255,255,255,0.2);
}

QTreeView::item:selected:active{
    background: rgba(255,255,255,0.2);
}

QTreeView::item:selected:!active {
    background: rgba(255,255,255,0.2);
    color: white;
}

/*===============================================*/
/* Particular Style */
/*===============================================*/

/*-----------------------------------------------*/
/* Background */
/*-----------------------------------------------*/

GMainWindow,
GMessageView {
    background: #051039;
}

/*-----------------------------------------------*/
/* Border */
/*-----------------------------------------------*/

GMenu,
GOpenDatabase,
GCreateDatabase {
    border: 1px solid rgba(255,255,255,0.2);
}

/*-----------------------------------------------*/
/* Text Align */
/*-----------------------------------------------*/

GMenu QPushButton {
    text-align: left;
}

/*-----------------------------------------------*/
/* Width */
/*-----------------------------------------------*/

GMenu {
    min-width: 200px;
}

GStackedWidget {
    min-width: 300px;
}


